<!DOCTYPE html>
<html lang="en-us">
<head>
    <!-- data about the app -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Todo App, todo list" />
    <meta name="keywords" content="Todo, done, list, productivity" />
    <meta name="robots" content="follow/index" />
    <meta name="author" content="David Dodd" />
    <title>done</title>
    <link rel="stylesheet" media="screen" href="css/style.css" href-lang=en-us/>
    <script src="lib/angular.min.js"></script>
    <script type="text/javascript" src="js/javascript.js"></script>
    <script type="text/javascript" src="phonegap.js"></script>
    <!-- calls stylesheet, angularjs and local javascript -->

    <body ng-app="done">
        <!-- initialize angularjs app with ngapp function call -->
        <header ng-controller="page">
            <h1><a href="."><img src="TodoAppIcon/doneicon30.png" height="30px" width="30px"> {{header}}</a></h1>
        </header>
        <main>
            <article>
                <section>
                    <!-- ul to display list information using ng-repeat function -->
                    <ul ng-controller="page" ng-hide="box">
                        <li ng-repeat="x in listnames">
                            <label for="{{x.name}}" ng-model="showLists" ng-click="list ($event)" value="{{x.list}}">{{x.list}}</label>
                        </li>
                    </ul>

                </section>
                <section ng-controller="page" ng-show="box">
                    <h3></h3>
                    <!-- form for user to input todo list data -->
                    <form ng-submit="submit($event)">
                        <input type="text" ng-show="hideImage" name="item" placeholder="Enter New Item" autofocus />
                    </form>
                    <p>
                        <label for="input" ng-model="input">
                            <!-- click to add list items and show user text box -->
                            <img src="TodoAppIcon/donecircleicon40x40.png" height="40" width="40" ng-hide="hideImage">
                        </label>
                    </p>
                    <!-- initialized list from used data -->
                    <ul>
                        <li ng-repeat="x in listitems track by $index" ng-click="doneItem($event)"> {{x}} <span ng-click="deleteItem($event)">x</span> </li>
                    </ul>

                </section>
                <!-- checkbox for label to show sub list and sub page data -->
                <input type="checkbox" id="todoList" ng-model="box" />
                <input type="checkbox" id="input" ng-model="hideImage" />
    </body>

</html>